* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

/* ******** */
/* Text Styles */
/* ******** */

h1 {
  font-size: 3.0em;
  font-weight: 300;
  font-family: serif;
  letter-spacing: .15em;
}
h2 {
  font-size: 1.8em;
  font-weight: 300;
  font-family: serif;
  font-style: italic;
  letter-spacing: .3em;
}
h3 {
  font-size: 2em;
  font-weight: 500;
  font-family: serif;
}
p {
  font-size: 1.4em;
  font-weight: 300;
  font-family: serif;
}

/* ******** */
/* TITLE ELEMENTS */
/* ******** */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  z-index: 0;
  /* border: inset 5px orange; */
}
.mainlight {
  background-color: white;
  color: black;
}
.maindark {
  background-color: black;
  color: white;
}
.space1 {
  display: block;
  height: 30%;
}
.space2 {
  display: block;
  height: 25px;
}
.space3 {
  display: block;
  height: 20%;
}
.name {
  font-size: 3.0em;
  text-align: right;
  padding-right: 20px;
}
.jobtitle {
  font-size: 1.8em;
  text-align: right;
  margin-top: -25px;
  padding-right: 10px;
}

/* ******** */
/* NAVIGATION */
/* ******** */

/* ******** */
/* nav universal */

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow:hidden;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 225px;
  height: 40px;
  margin: 0 0 15px 0;
  border-radius: 25px 0 0 25px;
  padding: 5px 10px;
  cursor: pointer;
}
.btnicon {
  font-size: 2em;
  padding-left: 5px;
}
.btntext {
  font-size: 2.7em;
  padding: 30px 10px 0px 15px;
  text-align: right;
}
.workbtntext {
  margin-right: 0px;
}
.biobtntext {
  margin-right: 0px;
}
.contactbtntext {
  margin-right: 0px;
}

/* ******** */
/* nav work button */

/* light */

.btnworklight {
  border: 1px white;
  background-color: black;
  color: white;
}
.btnworklight:hover {
  color: khaki;
  background-color: black;
}
.btnworklighton {
  color: khaki;
  background-color: black;
}

/* dark */

.btnworkdark {
  border: 1px black;
  background-color: white;
  color: black;
}
.btnworkdark:hover {
  color: black;
  background-color: seagreen;
}
.btnworkdarkon {
  color: black;
  background-color: seagreen;
}

/* ******** */
/* nav bio button */

/* light */

.btnbiolight {
  border: 1px white;
  background-color: black;
  color: white;
}
.btnbiolight:hover {
  color: lightsalmon;
  background-color: black;
}
.btnbiolighton {
  color: lightsalmon;
  background-color: black;
}

/* dark */

.btnbiodark {
  border: 1px black;
  background-color: white;
  color: black;
}
.btnbiodark:hover {
  color: black;
  background-color: royalblue;
}
.btnbiodarkon {
  color: black;
  background-color: royalblue;
}

/* ******** */
/* nav contact button */

/* light */

.btncontactlight {
  border: 1px white;
  background-color: black;
  color: white;
}
.btncontactlight:hover {
  color: lightcoral;
  background-color: black;
}
.btncontactlighton {
  color: lightcoral;
  background-color: black;
}

/* dark */

.btncontactdark {
  border: 1px black;
  background-color: white;
  color: black;
}
.btncontactdark:hover {
  color: black;
  background-color: slateblue;
}
.btncontactdarkon {
  color: black;
  background-color: slateblue;
}

/* ******** */
/* LINKS */
/* ******** */

/* ******** */
/* links universal */

#links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 180px;
  margin: 20px 20px 10px 0px;
  list-style: none;
  font-size: 2em;
}

/* ******** */
/* linkedin link */

.linkedinlight {
  cursor: pointer;
  background-color: white;
  color: black;
}
.linkedindark {
  cursor: pointer;
  background-color: black;
  color: white;
}
.linkedinlight:hover {
  color: #2D65BC;
}
.linkedindark:hover {
  color: #2D65BC;
}

/* ******** */
/* darkmode link */

.darkmode {
  cursor: pointer;
  transition: transform .5s ease-in-out;
}
.darkmode:hover {
  transform: rotate(180deg);
}

/* ******** */
/* universal color switches */
/* ******** */

.darkswitch {
  display: block;
  background-color: white;
  color: black;
}
.lightswitch {
  display: none;
  background-color: black;
  color: white;
}


/* ******** */
/* MODALS */
/* ******** */

/* ******** */
/* modal & frame universal */

.pagemodals {
  border: inset purple 3px;
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 88%;
  overflow: hidden;
}

.modaltitle {
  padding-left: 30px;
  font-size: 1.6em;
}

/* ******** */
/* work & frame modal */

/* work frame */

.workframe {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
}
.workframelight {
  background-color: black;
}
.workframedark {
  background-color: seagreen;
}

/* work title */

.modaltitle {
  padding-left: 30px;
  font-size: 1.6em;
}
.worktitlelight {
  color: khaki;
}
.worktitledark {
  color: white;
}

/* work close button */

.workclose {
  position: absolute;
  top: -5px;
  right: 15px;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* work modal */

.workmodal {
  position: absolute;
  left: 10px;
  margin-top: -27px;
  height: calc(100% - 77px);
  width: calc(100% - 20px);
}
.workmodallight {
  background-color: white;
  color: black;
}
.workmodaldark {
  background-color: black;
  color: white;
}

/* ******** */
/* bio & frame modal */

/* bio frame */

.bioframe {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
}
.bioframelight {
  background-color: black;
}
.bioframedark {
  background-color: seagreen;
}

/* bio title */

.biotitlelight {
  color: lightsalmon;
}
.biotitledark {
  color: black;
}

/* bio close button */

.bioclose {
  position: absolute;
  top: -5px;
  right: 15px;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* bio modal */

.biomodal {
  position: absolute;
  left: 10px;
  margin-top: -27px;
  height: calc(100% - 77px);
  width: calc(100% - 20px);
}
.biomodallight {
  background-color: white;
  color: black;
}
.biomodaldark {
  background-color: black;
  color: white;
}

/* ******** */
/* contact & frame modal */

/* contact frame */

.contactframe {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
}
.contactframelight {
  background-color: black;
}
.contactframedark {
  background-color: seagreen;
}

/* contact title */

.contacttitlelight {
  color: lightcoral;
}
.contacttitledark {
  color: white;
}

/* contact close button */

.contactclose {
  position: absolute;
  top: -5px;
  right: 15px;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* contact modal */

.contactmodal {
  position: absolute;
  left: 10px;
  margin-top: -27px;
  height: calc(100% - 77px);
  width: calc(100% - 20px);
}
.contactmodallight {
  background-color: white;
  color: black;
}
.contactmodaldark {
  background-color: black;
  color: white;
}

/* ******** */
/* MEDIA QUERIES */
/* ******** */

@media only screen and (max-width: 350px) {
  .pagemodals {
    width: 100%;  
  }
  .title {
    margin-top: 5px;
  }
  .name {
    font-size: 2.4em;
  }
  .jobtitle {
    font-size: 1.4em;
  }
}
@media only screen and (min-width: 351px) and (max-width: 600px) {
  .pagemodals {
    width: 100%;  
  }
  .title {
    margin-top: 5px;
  }
  .name {
    font-size: 2.8em;
  }
  .jobtitle {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .pagemodals {
    width: calc(100% - 70px);  
  }
  .title {
    margin-top: 0px;
  }
  .name {
    font-size: 2.8em;
  }
  .jobtitle {
    font-size: 1.6em;
  }
}
@media only screen and (min-width: 1201px) {
  .pagemodals {
    width: calc(100% - 70px);  
  }
  .title {
    margin-top: 0px;
  }
  .name {
    font-size: 3em;
  }
  .jobtitle {
    font-size: 1.6em;
  }
}