* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* ******** */
/* Text Styles */
/* ******** */

h1 {
  font-size: 3.0em;
  font-weight: 300;
  font-family: serif;
  letter-spacing: .15em;
}
h2 {
  font-size: 1.8em;
  font-weight: 300;
  font-family: serif;
  font-style: italic;
  letter-spacing: .3em;
}
h3 {
  font-size: 2em;
  font-weight: 500;
  font-family: serif;
}
p {
  font-size: 1.4em;
  font-weight: 300;
  font-family: serif;
}

/* "FIXED" ELEMENTS */


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  /* border: inset 5px orange; */
}
.mainlight {
  background-color: white;
  color: black;
}
.maindark {
  background-color: black;
  color: white;
}
.space1 {
  display: block;
  height: 30%;
}
.space2 {
  display: block;
  height: 25px;
}
.space3 {
  display: block;
  height: 10%;
}
#name {
  /* border: inset 5px yellow; */
  text-align: right;
  padding-right: 20px;
}
#jobtitle {
  /* border: inset 5px green; */
  text-align: right;
  margin-top: -30px;
  padding-right: 10px;
}

/* NAVIGATION */

nav {
  /* border: inset 5px red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 40px;
  margin: 0 0 15px 0;
  border-radius: 25px 0 0 25px;
  padding: 5px 10px;
  cursor: pointer;
}

.btnlight {
  border: 1px white;
  background-color: black;
  color: white;
}
.btndark {
  border: 1px black;
  background-color: white;
  color: black;
}

.btnicon {
  font-size: 2em;
  padding-left: 5px;
}
.btntext {
  font-size: 2.7em;
  padding: 30px 10px 0px 15px;
  text-align: right;
}

.btnworklight {
  width: 225px;
}
.btnworklight:hover {
  color: khaki;
  background-color: black;
}
.btnworklightclick {
  color: khaki;
  background-color: black;
}

.btnbiolight {
  width: 225px;
}
.btnbiolight:hover {
  color: lightsalmon;
  background-color: black;
}
.btnbiolightclick {
  color: lightsalmon;
  background-color: black;
}

.btncontactlight {
  width: 225px;
}
.btncontactlight:hover {
  color: lightcoral;
  background-color: black;
}
.btncontactlightclick {
  color: lightcoral;
  background-color: black;
}

.btnworkdark {
  width: 225px;
}
.btnworkdark:hover {
  color: black;
  background-color: seagreen;
}
.btnworkdarkclick {
  color: black;
  background-color: seagreen;
}

.btnbiodark {
  width: 225px;
}
.btnbiodark:hover {
  color: black;
  background-color: royalblue;
}
.btnbiodarkclick {
  color: black;
  background-color: royalblue;
}

.btncontactdark {
  width: 225px;
}
.btncontactdark:hover {
  color: black;
  background-color: slateblue;
}
.btncontactdarkclick {
  color: black;
  background-color: slateblue;
}


/* // ICON LIST  */

#links {
  /* border: inset 5px blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 180px;
  margin: 20px 20px 10px 0px;
  list-style: none;
  font-size: 2em;
}
.darkmode {
  cursor: pointer;
  transition: transform .5s ease-in-out;
}
.darkmode:hover {
  transform: rotate(180deg);
}
.darkswitch {
  display: block;
  background-color: white;
  color: black;
}
.lightswitch {
  display: none;
  background-color: black;
  color: white;
}
.linkedinlight {
  cursor: pointer;
  background-color: white;
  color: black;
}
.linkedindark {
  cursor: pointer;
  background-color: black;
  color: white;
}
.linkedinlight:hover {
  color: #2D65BC;
}
.linkedindark:hover {
  color: #2D65BC;
}


/* MODAL FRAME */

/* .frame {
  position: fixed;
  bottom: -100vh;
  left: 0;
  width: 87vw;
  height: 90vh;
  overflow: clip;
  align-content: bottom;
}
.workframe {
  display: none;
}
.bioframe {
  display: none;
}
.contactframe {
  display: none;
}
.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 87vw;
  height: 90vh;
  border-radius: 0 5px 0 0;
}
.close {
  float: right;
  font-size: 2rem;
  padding: 1% 2%;
  font-weight: 100;
  cursor: pointer;
}
.workcontent {
  display: flex;
  position: absolute;
  top: 0;
  margin: 50px;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: red;
}
.biocontent {
  display: flex;
  position: absolute;
  top: 0;
  margin: 50px;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: green;
}
.contactcontent {
  display: flex;
  position: absolute;
  top: 0;
  margin: 50px;
  left: 0;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: blue;
} */