

@import './resets';
@import './variables';
@import './mixins';

body {
    background-color: $defaultbg;
    color: $defaultcolor;
}
.default {
    background-color: $defaultbg;
    color: $defaultcolor;

}
.inverse {
    background-color: $defaultcolor;
    color: $defaultbg;
}

/* ******** */
/* Text Styles */
/* ******** */

h1 {
    font-size: 3rem;
    font-weight: 300;
    font-family: $defaultfont;
    letter-spacing: .15em;
}
h2 {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: $defaultfont;
    font-style: italic;
    letter-spacing: .3em;
    text-transform: lowercase;
}
h3 {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    font-family: $defaultfont;
}
p {
    font-size: 1rem;
    font-weight: 300;
    font-family: $defaultfont;
}

/* "FIXED" ELEMENTS */

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.siteheader {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50vh;
    right: 30vw;
    height: -100px;
    text-align: right;
}
#name {
    font-size: 300%;
    letter-spacing: .5rem;
}

// ICON LIST

#jobtitle {
    font-size: 150%;
    letter-spacing: .3em;
    padding-right: .2vw;
}
#linkgroup {
    display: flex;
    justify-content: flex-end;
    line-height: 3rem;
    letter-spacing: .3rem;
    padding-right: .3vw;
    list-style: none;
}
li {
    display: block;
    padding: 0 5px;
}
.darkmode {
    cursor: pointer;
}
.darkswitch {
    display: block;
    margin: 0;
}
.lightswitch {
    display: none;
}
#linkedin {
    cursor: pointer;
}
#download {
    cursor: pointer;
}
#email {
    cursor: pointer;
}

/* NAVIGATION */

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 50vh;
    right: 0;
    width: 100vw;
    height: 45vh;
}
.btn {
    height: 4.5vh;
    max-height: 50px;
    margin: 0 0 15px 0;
    border-radius: 25px 0 0 25px;
    padding: 5px 10px;
    cursor: pointer;
}
.btntext {
    font-size: 3vw;
}
.btnwork {
    float: right;
    width: 29vw;
}
.btnbio {
    float: right;
    width: 29vw;
}
.btncontact {
    float: right;
    width: 29vw;
}


/* MODAL FRAME */

.frame {
    position: fixed;
    bottom: -100vh;
    left: 0;
    width: 87vw;
    height: 90vh;
    overflow: clip;
    align-content: bottom;
}
.workframe {
    display: none;
}
.bioframe {
    display: none;
}
.contactframe {
    display: none;
}
.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 87vw;
    height: 90vh;
    border-radius: 0 5px 0 0;
}
.close {
    float: right;
    font-size: 2rem;
    padding: 1% 2%;
    font-weight: 100;
    cursor: pointer;
}
.workcontent {
    display: flex;
    position: absolute;
    top: 0;
    margin: 50px;
    left: 0;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-color: red;
}
.biocontent {
    display: flex;
    position: absolute;
    top: 0;
    margin: 50px;
    left: 0;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-color: green;
}
.contactcontent {
    display: flex;
    position: absolute;
    top: 0;
    margin: 50px;
    left: 0;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    background-color: blue;
}












